
$extralight: 200;
$medium: 500;
$deeppink: rgba(169,4,182,1);

:host{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: calc(100vh - calc(100vh - 100%));
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
  background-image: url(/assets/img/wavemesh.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 100px;
  background-size: cover;
}


#grid {
  width: 100%;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Oswald';
  color: white;
  
  position: absolute;
  top: 0;
  z-index: 1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vw 3vw 3vw 3vw;
}

#header-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 14vw;
  line-height: 14vw;
  text-shadow: $deeppink 3px 3px;
  text-transform: uppercase;
  font-weight: $medium;
  margin: 0;
  text-align: end;
}

header h2 {
  font-size: 6vw;
  line-height: 6vw;
  font-weight: $extralight;
  color: $deeppink;
  margin: 0;
  align-self: flex-end;
}

#middle-container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

aside {
  display: flex;
  justify-content: center;
  padding: 3vw 3vw 3vw 3vw;
  align-items: center;
  position: relative;
}

aside:after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 60%;
  border-top: 1px solid #a904b6;
}

#aside-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#aside-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

aside p {
  font-size: 12vw;
  line-height: 12vw;
  margin: 0 0 2vw 0;
  font-weight: $extralight;
}

#plays, #date {
  font-size: 9vw;
  line-height: 9vw;
  font-weight: $extralight;
}



main {
  //background: pink;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 3vw 3vw 3vw;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

main p {
  font-size: 10vw;
  line-height: 11vw;
  font-weight: $extralight;
  margin: 0 0 2vw 0;
}

a {
  text-decoration: none;
  color: white;
}

.link {
  background-color: white;
  color: black;
  display: inline-flex;
  box-shadow: $deeppink 3px 3px;
  margin-top: 1vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3vw 0 3vw;
}

img {
  height: 30vw;
  width: 30vw;
  filter: drop-shadow(3px 3px 0px $deeppink);
  border-radius: 50%;
  //background-color: #1b7bb3;
}

.capitalize {
    text-transform: capitalize;
 }

.index {
  display: inline-flex;
  justify-content: center;
  align-self: flex-start;
  font-size: 4vw;
  line-height: 4vw;
}

threejsbackground{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: calc(100vh - calc(100vh - 100%));
  z-index: -2;
}



@media (min-width: 320px) { 

}

// Medium devices 
@media (min-width: 769px) { 
  #grid{
    display: grid;
    grid-template-rows: 17.5% auto 17.5%;
    grid-template-columns: 0.5fr 1fr;
    height: 100%;
    width: 100%;
    min-height: 600px;
  }
  header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 1vw 3vw 1vw 3vw;
  }
  h1{
    font-size: 7.5vw;
    line-height: 7.5vw;
  }
  header h2 {
    font-size: 3vw;
    line-height: 3vw;
  }
  #middle-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    flex-direction: row;
  }
  aside{
    padding: 0 3vw 0 3vw;
    position: relative;
  }
  #aside-container{
    flex-direction: column;
    justify-content: center;
  }
  aside:after {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    width: 0;
    height: 50%;
    border-right: 1px solid #a904b6;
  }
  img {
    height: 25vw;
    width: 25vw;
  }
  #aside-info{
    align-items: center;
  }
  aside p {
    font-size: 6vw;
    line-height: 6vw;
    margin: 0 0 1vw 0;
  }
  #plays, #date {
    font-size: 3.5vw;
    line-height: 3.5vw;
  }

  main{
    padding: 0 3vw 0 3vw;
  }
  main p {
    font-size: 5vw;
    line-height: 5.5vw;
    margin: 0 0 1vw 0;
  }
  .index{
    font-size: 2vw;
    line-height: 2vw;
  }
  footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-bottom: 2vw;
  }
}

// Large devices 
@media (min-width: 1025px) { 
  header{
    padding: 1vw 3vw 1vw 3vw;
  }
  h1{
    font-size: 6.5vw;
    line-height: 6.5vw;
  }
  header h2 {
    font-size: 2vw;
    line-height: 2vw;
  }
  aside{
    padding: 0 2vw 0 3vw;
  }
  img {
    height: 17vw;
    width: 17vw;
  }
  aside p {
    font-size: 3vw;
    line-height: 3vw;
    margin: 0 0 1vw 0;
  }
  #plays, #date {
    font-size: 2vw;
    line-height: 2vw;
  }
  main{
    padding: 0 2vw 0 3vw;
    max-width: 60%;
  }
  main p {
    font-size: 3.5vw;
    line-height: 4vw;
    margin: 0 0 0.5vw 0;
  }
  .index{
    font-size: 2vw;
    line-height: 2vw;
  }
  footer {
    margin-bottom: 1vw;
  }
  .link {
    margin-top: 0.5vw;
  }
}

// Extra large devices 
@media (min-width: 1201px) { 
  
}