<threejsbackground></threejsbackground>
<div id="grid" *ngIf="canShow else loading">
    <header>
        <div id="header-container">
            <h1>Audible Waves Of Pressure</h1>
            <h2>a custom last.fm page</h2>
        </div>
    </header>
    <div id="middle-container">
        <aside>
            <div *ngIf="userInfo" id="aside-container">
                <img src="{{userInfo['image'][2]['#text']}}" alt="{{userInfo['name']}}">
                <div id="aside-info">
                    <p><a href="https://www.last.fm/user/{{userInfo['name']}}" class="capitalize"><span class="link">{{userInfo['name']}}</span></a></p>
                    <p id="plays">{{userInfo['playcount']}} plays</p>
                    <p id="date">since {{date | date}}</p>
                </div>
            </div>
        </aside>
        <main>
            <div id="main-container">
                <p *ngIf="userInfo">
                    Hello! I'm <a href="https://www.last.fm/user/{{userInfo['name']}}"><span class="capitalize link">{{userInfo['name']}}</span></a>.
                </p>
                <div *ngIf="topArtists else noTopArtists">
                    <p *ngIf="genresCount">
                        Lately I'm into  
                        <a href="https://www.last.fm/tag/{{genresCount[0][0]}}"><span class="capitalize link">{{genresCount[0][0]}}<span class="index" title="frequency index">{{genresCount[0][1]}}</span></span></a>, 
                        <a href="https://www.last.fm/tag/{{genresCount[1][0]}}"><span class="capitalize link">{{genresCount[1][0]}}<span class="index" title="frequency index">{{genresCount[1][1]}}</span></span></a>, 
                        <a href="https://www.last.fm/tag/{{genresCount[2][0]}}"><span class="capitalize link">{{genresCount[2][0]}}<span class="index" title="frequency index">{{genresCount[2][1]}}</span></span></a> and 
                        <a href="https://www.last.fm/tag/{{genresCount[3][0]}}"><span class="capitalize link">{{genresCount[3][0]}}<span class="index" title="frequency index">{{genresCount[3][1]}}</span></span></a>.
                    </p>
                    
                    <p *ngIf="topTrack else noTopTrack">I am currently litstening on repeat to 
                        <a href="{{topTrack['url']}}"><span class="link">{{topTrack['name']}}</span> by <span class=link>{{topTrack['artist']['name']}}</span></a>.
                    </p>
                    <ng-template #noTopTrack>
                        <p>But, I haven't listened to music for more than a week now.</p>
                    </ng-template>
                </div>
                    <ng-template #noTopArtists>
                        <p>I haven't listened to anything in a while. </p>
                    </ng-template>
            </div>
        </main>
    </div>
    <footer>
        <user-select-form></user-select-form>
    </footer>
</div>



<ng-template #loading>
    <loading-screen></loading-screen>
</ng-template>

    



