
$deeppink: rgba(169,4,182,1);
$extralight: 200;
$medium: 500;

:host{
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0;
    text-align: center;
}

.link {
    background-color: white;
    color: black;
    display: inline-flex;
    box-shadow: $deeppink 3px 3px;
    margin-top: 5px;
  }

input {
    background-color: #ffffff00;
    color: white;
    display: inline-flex;
    //box-shadow: $deeppink 3px 3px;
    border: none;
    padding: 0;
    height: 13vw;
    max-width: 60%;
    border-bottom: $deeppink 2px solid;

}

input::placeholder{
    color:white;
    opacity: 0.8;
}

button:hover, button:focus {
    box-shadow: $deeppink 5px 5px;
}

#invisibleSpan {
    opacity: 0;
    position: absolute;
}

button {
    background: white;
    border: 0;
    box-shadow: $deeppink 3px 3px;
    padding: 0 10px 0 10px;
    margin-top: 5px;
}

h2, input, button {
    font-family: "Oswald";
    font-size: 13vw;
    line-height: 13vw;
    font-weight: $extralight;
}

#inputform {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 1vw 0 1vw 0;
}

// Medium devices 
@media (min-width: 769px) { 
    h2, input, button{
        font-size: 5vw;
        line-height: 5vw;
    }
    input {
        height: 5vw;
        margin-right: 1vw;
        max-width: 33%;
    }
    #inputform {
        justify-content: center;
        margin: 0.5vw 0 1vw 0;
    }
}

@media (min-width: 1025px) { 
    h2, input, button{
        font-size: 3.5vw;
        line-height: 3.5vw;
    }
    input {
        height: 3.5vw;
    }
    #inputform {
        justify-content: center;
        margin: 0.5vw 0 1vw 0;
    }
}