<!-- <h2>What about <span class="link">you</span>?</h2> -->

<form [formGroup]="userSelect">
    <h2>What about you?</h2>
    <div id="inputform">
        <input formControlName="username" [placeholder]="placeholder">
        <button [routerLink]="['/']" [queryParams]="{ username: userSelect.value.username }">lookup</button>
    </div>
</form>
