@font-face{font-family:Oswald;src:url(/assets/fonts/Oswald-ExtraLight.woff2) format("woff2");font-weight:200;font-style:normal;font-display:swap}@font-face{font-family:Oswald;src:url(/assets/fonts/Oswald-Medium.woff2) format("woff2");font-weight:500;font-style:normal;font-display:swap}