$extralight: 200;
$medium: 500;

:host {
  background-color: white;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
}

.preload {
    opacity: 0;
}
  
.preload .extralight {
    font-family: 'Oswald';
    font-weight: $extralight;
}
  
.preload .medium {
    font-family: 'Oswald';
    font-weight: $medium;
}

// Credit: https://dribbble.com/shots/5092176-Newton-Loader

.gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #fff;
    filter: contrast(20);
  }
  .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
  .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
  }

@keyframes dot{
    50%{
        transform: translateX(96px)
    }
}

@keyframes dots{
    50%{
        transform: translateX(-31px)
    }
}
  
