<!-- Credit: https://dribbble.com/shots/5092176-Newton-Loader -->
    <div class="gooey">

        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    <div class="preload">
        <img src="../../assets/img/wavemesh.svg">
        <p class="extralight">you can't see me</p>
        <p class="medium">you can't touch me</p>
    </div>